body {
    font-family: Monospace;
    background-color: #000000;
    overflow: hidden;
}

#info {
    color: #fff;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: left;
    z-index: 100;
    display: inline;
}

#control {
    margin-top: 10px;
}

a { color: skyblue }
.button { background:#999; color:#eee; padding:0.2em 0.5em; cursor:pointer }
.highlight { background:orange; color:#fff; }


